/* 颜色 */
:root {
    --anzhiyu-theme-op: #4259ef23;
    --anzhiyu-gray-op: #9999992b;
    --anzhiyu-theme-top: var(--anzhiyu-theme);
    --anzhiyu-white: #fff;
    --anzhiyu-white-op: rgba(255, 255, 255, 0.2);
    --anzhiyu-black: #000;
    --anzhiyu-black-op: rgba(0, 0, 0, 0.2);
    --anzhiyu-none: rgba(0, 0, 0, 0);
    --anzhiyu-gray: #999999;
    --anzhiyu-yellow: #ffc93e;
    --anzhiyu-border-radius: 8px;
    --anzhiyu-main: var(--anzhiyu-theme);
    --anzhiyu-main-op: var(--anzhiyu-theme-op);
    --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
    --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
    --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
    --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
    --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
    --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
    --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--anzhiyu-card-border);
    --anzhiyu-blue-main: #3b70fc;
    --style-border-hover: 1px solid var(--anzhiyu-main);
    --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
    --style-border-avatar: 4px solid var(--anzhiyu-background);
    --style-border-always: 1px solid var(--anzhiyu-card-border);
    --style-border-none: 1px solid transparent;
    --anzhiyu-white-acrylic1: #fefeff !important;
    --anzhiyu-white-acrylic2: #fcfdff !important;
    --anzhiyu-black-acrylic2: #08080a !important;
    --anzhiyu-black-acrylic1: #0b0b0e !important;
    --anzhiyu-main-none: #b8b8b800 !important;
    --icat-white:#fff;
    --icat-white-op:rgba(255, 255, 255, 0.2);
    --icat-black:#000;
    --icat-black-op:rgba(0, 0, 0, 0.2);
    --icat-none:#00000000;
    --icat-gray:#999999;
    --icat-gray-op:#9999992b;
    --icat-vip:#e5a80d;
    --icat-main:var(--icat-theme);
    --icat-main-op:var(--icat-theme-op);
    --icat-main-op-deep:var(--icat-theme-op-deep);
    --icat-main-none:var(--icat-theme-none);
    --icat-shadow-theme:0 8px 12px -3px var(--icat-theme-op);
    --icat-shadow-blackdeep:0 2px 16px -3px rgba(0, 0, 0, .15);
    --icat-shadow-main:0 8px 12px -3px var(--icat-main-op);
    --icat-shadow-blue:0 8px 12px -3px rgba(40, 109, 234, .20);
    --icat-shadow-white:0 8px 12px -3px rgba(255, 255, 255, .20);
    --icat-shadow-black:0 0 12px 4px rgba(0, 0, 0, .05);
    --icat-shadow-yellow:0px 38px 77px -26px rgba(255, 201, 62, .12);
    --icat-shadow-red:0 8px 12px -3px #ee7d7936;
    --icat-shadow-green:0 8px 12px -3px #87ee7936;
    --icat-logo-color:linear-gradient(215deg, #4584ff 0%, #cf0db9 100%);
    --icat-snackbar-time:5s;
    --icat-theme:#425AEF;
    --icat-theme-op:#4259ef23;
    --icat-theme-op-deep:#4259efdd;
    --icat-theme-none:#4259ef01;
    --icat-blue:#425AEF;
    --icat-red:#f04a63;
    --icat-pink:#FF7C7C;
    --icat-green:#57bd6a;
    --icat-yellow:#c28b00;
    --icat-yellow-op:#d99c001a;
    --icat-orange:#e38100;
    --icat-fontcolor:#363636;
    --icat-background:#f7f9fe;
    --icat-reverse:#000;
    --icat-maskbg:rgba(255, 255, 255, 0.6);
    --icat-maskbgdeep:rgba(255, 255, 255, 0.85);
    --icat-hovertext:var(--icat-main);
    --icat-ahoverbg:#F7F7FA;
    --icat-lighttext:var(--icat-main);
    --icat-secondtext:rgba(60, 60, 67, 0.8);
    --icat-scrollbar:rgba(60, 60, 67, 0.4);
    --icat-card-btn-bg:#edf0f7;
    --icat-post-blockquote-bg:#fafcff;
    --icat-post-tabs-bg:#f2f5f8;
    --icat-secondbg:#f1f3f8;
    --icat-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --icat-card-bg:#fff;
    --icat-card-bg-op:var(--icat-black-op);
    --icat-card-bg-none:rgba(255, 255, 255, 0);
    --icat-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-card-border:#e3e8f7;
    --icat-shadow-border:0 8px 16px -4px #2c2d300c;
    --icat-tabs-background:#49B1F5;
}

[data-theme="light"] {
    --anzhiyu-theme: #3b70fc;
    --anzhiyu-theme-deep: #1856fb;
    --anzhiyu-theme-op: #4259ef23;
    --anzhiyu-blue: #3b70fc;
    --anzhiyu-red: #d8213c;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #363636;
    --anzhiyu-background: #f7f9fe;
    --anzhiyu-reverse: #000;
    --anzhiyu-maskbg: rgba(255, 255, 255, 0.6);
    --anzhiyu-maskbgdeep: rgba(255, 255, 255, 0.85);
    --anzhiyu-hovertext: var(--anzhiyu-theme);
    --anzhiyu-ahoverbg: #f7f7fa;
    --anzhiyu-lighttext: var(--anzhiyu-main);
    --anzhiyu-secondtext: rgba(60, 60, 67, 0.6);
    --anzhiyu-scrollbar: rgba(60, 60, 67, 0.4);
    --anzhiyu-card-btn-bg: #edf0f7;
    --anzhiyu-post-blockquote-bg: #fafcff;
    --anzhiyu-post-tabs-bg: #f2f5f8;
    --anzhiyu-secondbg: #f1f3f8;
    --anzhiyu-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --anzhiyu-card-bg: #fff;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-card-border: #e3e8f7;
    --icat-theme:#425AEF;
    --icat-theme-op:#4259ef23;
    --icat-theme-op-deep:#4259efdd;
    --icat-theme-none:#4259ef01;
    --icat-blue:#425AEF;
    --icat-red:#f04a63;
    --icat-pink:#FF7C7C;
    --icat-green:#57bd6a;
    --icat-yellow:#c28b00;
    --icat-yellow-op:#d99c001a;
    --icat-orange:#e38100;
    --icat-fontcolor:#363636;
    --icat-background:#f7f9fe;
    --icat-reverse:#000;
    --icat-maskbg:rgba(255, 255, 255, 0.6);
    --icat-maskbgdeep:rgba(255, 255, 255, 0.85);
    --icat-hovertext:var(--icat-main);
    --icat-ahoverbg:#F7F7FA;
    --icat-lighttext:var(--icat-main);
    --icat-secondtext:rgba(60, 60, 67, 0.8);
    --icat-scrollbar:rgba(60, 60, 67, 0.4);
    --icat-card-btn-bg:#edf0f7;
    --icat-post-blockquote-bg:#fafcff;
    --icat-post-tabs-bg:#f2f5f8;
    --icat-secondbg:#f1f3f8;
    --icat-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --icat-card-bg:#fff;
    --icat-card-bg-op:var(--icat-black-op);
    --icat-card-bg-none:rgba(255, 255, 255, 0);
    --icat-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --icat-card-border:#e3e8f7;
    --icat-shadow-border:0 8px 16px -4px #2c2d300c;
    --icat-tabs-background:#49B1F5;
}

[data-theme="dark"] {
    --global-bg: #191919;
    --anzhiyu-theme: #0084ff;
    --anzhiyu-theme-deep: #0076e5;
    --anzhiyu-theme-op: #0084ff23;
    --anzhiyu-blue: #0084ff;
    --anzhiyu-red: #ff3842;
    --anzhiyu-pink: #ff7c7c;
    --anzhiyu-green: #57bd6a;
    --anzhiyu-fontcolor: #f7f7fa;
    --anzhiyu-background: #18171d;
    --anzhiyu-reverse: #fff;
    --anzhiyu-maskbg: rgba(0, 0, 0, 0.6);
    --anzhiyu-maskbgdeep: rgba(0, 0, 0, 0.85);
    --anzhiyu-hovertext: #0a84ff;
    --anzhiyu-ahoverbg: #fff;
    --anzhiyu-lighttext: #f2b94b;
    --anzhiyu-secondtext: #a1a2b8;
    --anzhiyu-scrollbar: rgba(200, 200, 223, 0.4);
    --anzhiyu-card-btn-bg: #30343f;
    --anzhiyu-post-blockquote-bg: #000;
    --anzhiyu-post-tabs-bg: #121212;
    --anzhiyu-secondbg: #30343f;
    --anzhiyu-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --anzhiyu-card-bg: #1d1b26;
    --anzhiyu-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --anzhiyu-card-border: #42444a;
    --icat-theme:#f2b94b;
    --icat-theme-op:#f2b94b23;
    --icat-theme-op-deep:#f2b94bdd;
    --icat-theme-none:#f2b94b00;
    --icat-blue:#0084FF;
    --icat-red:#FF3842;
    --icat-pink:#d44040;
    --icat-green:#3e9f50;
    --icat-yellow:#ffc93e;
    --icat-yellow-op:#ffc93e30;
    --icat-orange:#ff953e;
    --icat-fontcolor:#F7F7FA;
    --icat-background:#18171d;
    --icat-reverse:#fff;
    --icat-maskbg:rgba(0, 0, 0, 0.6);
    --icat-maskbgdeep:rgba(0, 0, 0, 0.85);
    --icat-hovertext:#0A84FF;
    --icat-ahoverbg:#fff;
    --icat-lighttext:var(--icat-theme);
    --icat-secondtext:#a1a2b8;
    --icat-scrollbar:rgba(200, 200, 223, 0.4);
    --icat-card-btn-bg:#30343f;
    --icat-post-blockquote-bg:#000;
    --icat-post-tabs-bg:#121212;
    --icat-secondbg:#30343f;
    --icat-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --icat-card-bg:#1d1e22;
    --icat-card-bg-op:var(--icat-white-op);
    --icat-card-bg-none:#1d1b2600;
    --icat-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --icat-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --icat-card-border:#3d3d3f;
    --icat-shadow-border:0 8px 16px -4px #00000050;
    --icat-tabs-background:#81d8cf;
}
